{% extends 'site_base.html' %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
    {% load account %}
    <div class="fs-2 m-4">
        <img class="rounded-circle" width="32px" height="32px" src={{ profile_image }} alt={{ profile_image }}/>
        {% user_display user %}
    </div>

    <div class="m-4">
        <p>OAuth Provider: {{ provider }}</p>
    </div>

    <div class="m-4">
        <a href={% url 'converting_result' %}>
            Go to converting results
        </a>
    </div>
{% endblock %}