django
python-dotenv
mysqlclient
django-quill-editor
fontawesomefree
django-storages
boto3
ujson
hiredis
geoip2
Pillow
django-allauth
django-extensions
celery[redis]
django-celery-results
django-crispy-forms
crispy-bootstrap5
django-silk
zappa