django
python-dotenv
mysqlclient
django-quill-editor
fontawesomefree
daphne
Twisted[tls,http2]
django-storages
boto3
ujson
redis
hiredis
channels
channels_redis
geoip2
Pillow
django-allauth
django-extensions
celery[redis]
django-celery-results
django-crispy-forms
crispy-bootstrap5
django-meta
django-silk
zappa