fastapi>=0.0.1
pytest>=7.1.0
python-dateutil>=2.8.2
starlette>=0.20.4
uvicorn[standard]>=0.18.2
Jinja2>=3.1.2
python-multipart>=0.0.5
SQLAlchemy>=1.4.39
pydantic>=1.9.1
requests>=1.0.0
pyjwt[crypto]>=1.0.0
python-dotenv>=0.20.0