django
django-crispy-forms
django-extensions
django-storages
django-silk
django-passkeys
django-quill-editor
boto3
crispy-bootstrap5
cryptography
fontawesomefree
Pillow
python-dotenv
mysqlclient
zappa
