{% extends 'site_base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Login
{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
    <form method="post" id="loginForm">
        {% csrf_token %}
        <div class="my-24 rounded-lg border bg-card text-card-foreground shadow-sm w-full max-w-md mx-auto"
             data-v0-t="card">
            <div class="flex flex-col p-6 space-y-2">
                <h3 class="whitespace-nowrap tracking-tight text-3xl font-bold">
                    Log in to your account
                </h3>

                <p class="text-sm text-muted-foreground">
                    Enter your email below to login to your account
                </p>
            </div>

            <div class="p-6">
                <div class="space-y-4">
                    <div class="space-y-2">
                        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                               for="username">Ident</label>
                        <input class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                               name="username" id="id_username" autofocus placeholder="your id" type="text">
                    </div>
                    <div class="space-y-2"><label
                            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                            for="password">Password</label>
                        <input class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                               name="password" id="id_password" placeholder="password" type="password">
                    </div>
                    <button type="submit"
                            class="inline-flex items-center justify-center whitespace-nowrap text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full rounded-lg font-bold from-[#4ea0e6] to-[#4481a0]">
                        Log In
                    </button>
                </div>
            </div>
            <!--<div class="items-center p-6 flex justify-center">
                <a class="text-blue-600 hover:underline underline"
                   href="#">
                    Create an account
                </a>
            </div>-->
        </div>
    </form>
{% endblock %}
