{% extends 'site_base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Login
{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <h2>Sign In</h2>
    <form method="post" id="loginForm">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="passkeys" id="passkeys"/>
        <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded shadow-md hover:bg-blue-600">
            Log In
        </button>
        <button class="inline-flex items-center px-4 py-2 bg-gray-800 text-white font-bold rounded" type="button"
                onclick="authn('loginForm')">
            Sign in With Passkeys
            {% load static %}
            <img src="{% static 'passkeys/imgs/FIDO-Passkey_Icon-White.png' %}" style="width: 24px"
                 alt="passkeys image">
        </button>
        {% include 'passkeys.js' %}
    </form>
{% endblock %}
