{% extends 'site_base.html' %}
{% load sort_visualizer_extras %}

{% block title %}
    {{ title }} [kreimben.com]
{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
    <h1>Sort Visualizer</h1>

    {# slide bar with numbers #}
    <div class="slidecontainer">
        <input type="range" min="10" max="1000" value="100" class="slider" id="myRange">
        <p>Value: <span id="demo"></span></p>
        <button onclick="init_container()">Regenerate</button>
    </div>

    <div class="my-4">
        {% if sorting %}
            <select name="selected_sorting_algorithm" id="selected_sorting_algorithm" onchange="describe_sorting()">
                {% for sort in sorting %}
                    <option value="{{ sort.name }}">{{ sort.name }}</option>
                {% endfor %}
            </select>
        {% else %}
            <p>No sorting algorithms found.</p>
        {% endif %}

        <div id="sorting_describe">
            {% for sort in sorting %}
                <div id="{{ sort.name }}" hidden="hidden">
                    <div>Time Complexity: {{ sort.time_complexity | represent | safe }}</div>
                    <div>Space Complexity: {{ sort.space_complexity | represent | safe }}</div>
                    <div>Best Case: {{ sort.best_case | represent | safe }}</div>
                    <div>Worst Case: {{ sort.worst_case | represent | safe }}</div>
                    <div>Method: {{ sort.method }}</div>
                </div>
            {% endfor %}
        </div>

        <button onclick="start_sorting()">Sort!</button>
    </div>

    <div id="box">
        <div id="container"></div>
    </div>

    <script>
        window.onload = () => {
            bind_slider();
            describe_sorting();
        };

        // functions
        const init_container = () => {
            stop_sorting();

            const container = document.getElementById('container');
            const numberOfElements = document.getElementById('myRange').value;

            // remove all children in container
            while (container.firstChild) {
                container.removeChild(container.firstChild);
            }

            // append new children
            for (let i = 0; i < numberOfElements; i++) {
                // generate random height
                const element = document.createElement('div');
                element.classList.add('element');
                element.style.position = 'absolute';
                element.style.left = `${i / numberOfElements * 100}%`;
                element.style.height = `${Math.random() * 100}%`;
                element.style.width = `${1 / numberOfElements * 100}%`;
                element.style.backgroundColor = 'gray';
                element.style.borderColor = 'black';
                element.style.borderStyle = 'solid';
                container.appendChild(element);
            }
        };

        const bind_slider = () => {
            stop_sorting();

            const slider = document.getElementById('myRange');
            const output = document.getElementById('demo');
            output.innerHTML = slider.value;

            slider.oninput = () => {
                output.innerHTML = slider.value;
            };
        };

        const stop_sorting = () => {
            // TODO: Implement stop sorting
        };

        const start_sorting = () => {
            // TODO: Implement start sorting
        };

        const describe_sorting = () => {
            const selected_sorting = document.getElementById('selected_sorting_algorithm').value;
            // make all hidden
            const sorting = document.getElementById('sorting_describe');
            for (let i = 0; i < sorting.children.length; i++) {
                sorting.children[i].hidden = true;
            }
            // make selected visible
            document.getElementById(selected_sorting).hidden = false;
        };
    </script>

    <script>
        // logics
        // first script
        init_container();
    </script>

    <style>
        #container {
            background-color: yellowgreen;
            position: relative;
            margin: 0px 30px 0px 0px;
            height: 78vh;
            width: 100%;
        }

        #box {
            padding-top: 50px;
            margin-top: 25px;
            position: relative;
            left: 50%;
            clear: both;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 90%;
            background-color: aqua;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
{% endblock %}