{% extends 'site_base.html' %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
    <h1>Sort Visualizer</h1>

    <div id="box">
        <div id="container"></div>
    </div>

    <script>
        // functions
        const init_container = (numberOfElements) => {
            const container = document.getElementById('container');
            for (let i = 0; i < numberOfElements; i++) {
                // generate random height
                const element = document.createElement('div');
                element.classList.add('element');
                element.style.position = 'relative';
                element.style.left = `${Math.floor(i / numberOfElements * 100)}%`;
                element.style.height = `${Math.floor(Math.random() * 100)}%`;
                element.style.width = `${Math.floor(1 / numberOfElements * 100)}%`;
                element.style.backgroundColor = 'gray';
                element.style.borderColor = 'black';
                element.style.borderStyle = 'solid';
                container.appendChild(element);
            }
        };
    </script>

    <script>
        // logics
        init_container(10);
    </script>

    <style>
        #container {
            background-color: yellowgreen;
            position: relative;
            margin: 0px 30px 0px 0px;
            height: 78vh;
            width: 100%;
        }

        #box {
            padding-top: 50px;
            margin-top: 25px;
            position: relative;
            left: 50%;
            clear: both;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 90%;
            background-color: aqua;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
{% endblock %}