{% extends 'site_base.html' %}

{% block title %}
    Make image to ascii art!
{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
    {% if django_user and google_user %}
        <div class="alert alert-danger" role="alert">
            Maximum image size is 10MB!
        </div>
        <form hx-post="" enctype="multipart/form-data" target="upload_response" hx-indicator="#indicator"
              hx-swap="outerHTML">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mb-4">Submit</button>

            <div id="indicator" class="htmx-indicator">
                <i class="fa-solid fa-spinner-third fa-spin fa-xl"></i>
            </div>
        </form>
        <div id="upload_response"></div>
    {% else %}
        <div class="m-4 fs-1">You need to have a account of kreimben.com!</div>
    {% endif %}
{% endblock %}