{% extends 'site_base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Make image to ascii art!
{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
    {% if django_user and google_user %}
        <div class="alert alert-danger" role="alert">
            Maximum image size is 10MB!
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary mb-4">Generate</button>
        </form>

        <div class="m-4">
            <a class="btn btn-primary" style="color:white;" href={% url 'converting_result' %}>Past results</a>
        </div>
    {% else %}
        <div class="m-4 fs-1">You need to have a account of kreimben.com!</div>
    {% endif %}
{% endblock %}