{% extends 'index.html' %}

{% block title %}
    {{ post.title }} - Kreimben's Blog
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class=" col-8">
            <h1 class="text-center">{{ post.title }}</h1>
            {% if post.subtitle %}
                <h5 class="text-center text-muted">{{ post.subtitle }}</h5>
            {% endif %}

            <div class="text-center">
                <a href="/blog?category={{ post.category.name }}"
                   class="badge text-bg-dark rounded-pill">{{ post.category.name }}</a>
            </div>

            <h6 class="text-center my-3">{{ post.created_at }}</h6>

            <div id="fileTimer">
                {% if files %}
                    <ul class="list-group">
                        {% for file in files %}
                            <div class="list-group-item">
                                <a href="{% url 'file_download' post.id ip file.id %}">
                                    {{ file.file.name }} ({{ file.file.size | filesizeformat }})
                                </a>
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <br/><br/>

            <div class="ql-snow">
                <div class="ql-editor">
                    {{ post.content.html | safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}