{% extends 'site_base.html' %}

{% block title %}
    Kreimben's Blog.
{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
    <!-- search input -->
    <form class="w-100 col-lg-auto my-3" method="get" action="{% url 'blog' %}">
        {% csrf_token %}
        <input
                name="q"
                id="search_keyword"
                type="search"
                class="form-control form-control-lg rounded-lg py-2 px-3 shadow-sm w-1/2"
                placeholder="Search title, subtitle, posts..."
                aria-label="Search"
                autofocus
        >
        <button class="btn btn-outline-secondary" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>

    <!-- summary -->
    <div class="list-group bg-gray-100 rounded-lg shadow-md p-4">
        {% for post in page_obj %}
            <div class="flex items-center justify-between">
                <a href="{% url 'post_detail' post.id %}"
                   class="text-center mx-auto m-2 p-12 w-full md:w-1/2 lg:w-1/3 xl:w-1/2 list-group-item list-group-item-action rounded-lg bg-white border border-gray-200 flex flex-col hover:shadow-xl">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col w-full">
                            <strong class="text-gray-900 mb-2">{{ post.title | capfirst }}</strong>
                            {% if post.subtitle %}
                                <p class="text-gray-600 mb-2">{{ post.subtitle }}</p>
                            {% endif %}
                        </div>
                        <div class="flex flex-wrap gap-2 items-center">
                            <span class="text-gray-500"><i class="fas fa-eye"></i> {{ post.view_count }}</span>
                            <span class="bg-gradient-to-r from-blue-500 to-blue-700 text-white rounded-lg px-3 py-1 font-semibold">{{ post.category }}</span>
                            <span class="text-gray-500 text-sm">{{ post.created_at | date }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <div class="p-4 text-center">
                <h3 class="text-gray-900 mb-4">Sorry, I don't have any posts to give you</h3>
                <div>
                    :(
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- categories -->
    <div class="p-3 m-3 flex flex-wrap justify-center gap-2">
        {% for category in categories %}
            <a href="?category={{ category }}"
               class="badge bg-gray-700 text-white rounded-lg px-4 py-2 text-sm font-semibold">
                {{ category }}
            </a>
        {% endfor %}

        {% if selected_category_name %}
            <a href="/blog/" class="badge bg-gray-300 text-gray-700 rounded-lg px-4 py-2 text-sm font-semibold">
                All
            </a>
        {% endif %}
    </div>

    <!-- paginator -->
    <nav class="flex justify-center my-4">
        <ul class="flex items-center gap-4">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}"
                       class="page-link bg-gray-200 text-gray-700 rounded-md px-4 py-2">
                        <i class="fas fa-chevron-left"></i>
                        Previous
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link bg-gray-500 text-gray-400 rounded-md px-4 py-2 cursor-not-allowed">
                        <i class="fas fa-chevron-left"></i>
                        Previous
                    </a>
                </li>
            {% endif %}

            <form method="get">
                {% csrf_token %}
                <li class="page-item">
                <span class="page-link text-gray-800">
                    <label><input style="width: 24px;" name="page"
                                  value="{{ page_obj.number }}"></label> / {{ page_obj.paginator.num_pages }}
                </span>
                </li>
            </form>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}"
                       class="page-link bg-gray-200 text-gray-700 rounded-md px-4 py-2">
                        Next
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link bg-gray-500 text-gray-400 rounded-md px-4 py-2 cursor-not-allowed">
                        Next
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
