{% extends 'base.html' %}

{% block content %}
    <div class="list-group w-auto m-5">
        {% for post in posts %}
            <a href="/blog/post/{{ post.id }}" class="list-group-item list-group-item-action d-flex gap-3 py-3"
               aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">{{ post.title }}</h6>
                        <p class="mb-0 opacity-75">{{ post.subtitle }}</p>
                    </div>
                    <small class="opacity-50 text-nowrap">{{ post.created_at | date }}</small>
                </div>
            </a>
        {% empty %}
            {% lorem 3 w %}
        {% endfor %}
    </div>
{% endblock %}
