{% extends 'base.html' %}

{% block title %}
    Anonymous Chat
{% endblock %}

{% block content %}
    <div>
        <div>
            Anonymous Chat
        </div>
        <div>
            <div id="loading_spin" class="d-flex justify-content-center mt-3">
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div id="failed_info">
            </div>

            <div id="chat_box" class="bg-body-tertiary"></div>

            <input type="text" id="chat_input" style="margin-bottom: 30px;"
                   onkeydown="if(window.event.keyCode==13){send_message()}">
        </div>
    </div>

    <style>
        #chat_box {
            overflow-y: scroll;
            width: auto;
            height: 65vh;
            margin-bottom: 30px;
            margin-top: 30px;
            -ms-overflow-style: none; /* 인터넷 익스플로러 */
            scrollbar-width: none; /* 파이어폭스 */
        }

        #chat_box::-webkit-scrollbar {
            display: none; /* 크롬, 사파리, 오페라, 엣지 */
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        let ws = new WebSocket("{{ websocket_endpoint }}");
        console.log(`ws state: ${ws.readyState}`)

        const user_input = document.getElementById('chat_input');
        const chat_box = document.getElementById('chat_box');
        const failed_info = document.getElementById('failed_info');
        const loading_spin = document.getElementById('loading_spin');

        window.onload = () => {
            $.getJSON("{{ ip_geo_url }}", function (data) {
                const d = JSON.stringify(data);
                ws.send(d);
                loading_spin.parentNode.removeChild(loading_spin);
            })
        }

        let chatter_id = '';
        let hashed_value = '';

        const send_message = () => {
            if (chatter_id !== '' && hashed_value !== '') {
                ws.send(JSON.stringify({
                    'message': user_input.value,
                    'hashed_value': hashed_value,
                    'chatter_id': chatter_id
                }));
            }
        }

        const make_text_box = (chat) => {
            chat_box.innerHTML += `
                <div class="card m-3">
                    <div class="card-body">
                        <strong class="card-title">[${chat["hashed_value"]}] ${chat["hashed_value"] == hashed_value ? "(me)" : ""}</string>
                        <p class="card-text">${chat["message"]}</p>
                        <p class="card-text">${chat["time"]}</p>
                    </div>
                </div>
            `;
        }

        ws.onmessage = (event) => {
            const data = JSON.parse(event.data);
            console.log(`data: ${data}`)

            if (data["success"]) {
                chatter_id = data['chatter_id'];
                hashed_value = data['hashed_value'];
            } else {
                clear_input();
                make_text_box(data);
                chat_box.scrollTop = chat_box.scrollHeight;
            }
        }

        const clear_input = () => {
            user_input.value = '';
        }
    </script>
{% endblock %}