<div class="container">
    <footer class="align-items-center py-3 my-4 border-top">

        <span class="text-muted">Copyrights © 2019-2022 Aksidion Kreimben</span>

        <span class="">
            <a class="text-muted" href="https://www.instagram.com/kreimben">
                <i class="bi bi-instagram"></i>
            </a>
        </span>

        <span class="">
            <a class="text-muted" href="https://paypal.me/kreimben">
                <i class="fa-brands fa-paypal fa-2xl"></i>
            </a>
        </span>

        <span class="">
            <a class="text-muted" href="https://www.github.com/kreimben">
                <i class="fa-brands fa-github fa-2xl"></i>
            </a>
        </span>

        <span class="">
            <a class="text-muted" href="mailto:aksidion@kreimben.com">
                <i class="fa-solid fa-at fa-2xl"></i>
            </a>
        </span>
    </footer>
</div>