<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Copyrights © 2019-2024 Jehwan Kim</span>

        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a class="m-3" href="https://www.github.com/kreimben">
                    <i class="fab fa-github"></i>
                </a>
            </li>

            <li>
                <a class="m-3" href="https://www.linkedin.com/in/jehwan-kim/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>

            <li>
                <a class="m-3" href="mailto:jehwan.kim@kreimben.com">
                    <i class="fas fa-at"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>