{# Tailwind #}
<script src="https://cdn.tailwindcss.com"></script>

{#FontAwesome#}
{% load static %}
<script src="{% static 'fontawesomefree/js/all.min.js' %}" crossorigin="anonymous"></script>
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

{# static quill editor #}
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

{# highlight.js #}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/base16/xcode-dusk.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

{# GA #}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6YPGF3XD7J"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-6YPGF3XD7J');
</script>

{# HTMX Import #}
<script src="https://unpkg.com/htmx.org@1.8.4"
        integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
        crossorigin="anonymous"></script>

{# LinkedIn #}
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>