<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8"/>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-86G219NXYL"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-86G219NXYL');
        </script>

        <title>
            {{ title }}
        </title>

    </head>

    <body>
    <h1>{{ body }}</h1>
    </body>

</html>
