{% extends 'site_base.html' %}

{% block title %}
    Kreimben.com
{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex text-center main_wrapper m-5 p-5" style="height: 60vh;">
        <div class="m-auto">
            <h1 class="mb-5">Hi, I'm Kreimben.</h1>
            <p>I am a Backend Web Developer.</p>
            <p>I love Python and Django!</p>
            <p class="text-muted">and former iOS Developer.</p>
            <br/>
            <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light"
                 data-type="VERTICAL" data-vanity="jehwan-kim" data-version="v1"><a
                    class="badge-base__link LI-simple-link"
                    href="https://kr.linkedin.com/in/jehwan-kim?trk=profile-badge"></a></div>
        </div>
    </div>
{% endblock %}