<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8"/>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-86G219NXYL"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-86G219NXYL');
        </script>

        <!-- TailwindCSS -->
        <script src="https://cdn.tailwindcss.com"></script>

        <title>
            {{ title }}
        </title>

    </head>

    <body>
    <div style="background-color: red">
        {% for e in elements %}
        <a href="" style="color: aqua">{{ e }}</a>
        {% endfor %}
    </div>

    <h1>
        <a href={{ body }} target="_blank">Here</a>
    </h1>

    {% for e in results %}
    <p class="text-3xl font-bold underline">{{ e }}</p><br/><br/>
    {% endfor %}

    {% for url in urls %}
    <img src={{ url }} alt="Image from Instagram!" />
    {% endfor %}

    {% block content %}
    {% endblock content %}
    </body>

</html>
