<header class="d-flex flex-wrap justify-content-center py-3 mt-2 mx-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
        <span class="fs-4">Kreimben.com</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="{% url 'projects' %}" class="nav-link">Projects</a></li>
        {% if user.is_authenticated %}
            {% csrf_token %}
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Log Out</a></li>
            <li class="nav-item">{{ user.username }}</li>
        {% else %}
            <li class="nav-item">
                {% csrf_token %}<a href="{% url 'login' %}" class="nav-link">Log In</a>
            </li>
        {% endif %}
    </ul>
</header>