<div class="bg-gray-100 dark:bg-gray-850">
    <div class="border-b border-gray-200 dark:border-gray-750">
        <div class="px-4 md:px-6 lg:px-8 xl:px-12">
            <nav class="flex items-center justify-between h-14 md:h-20 lg:h-24">
                <div class="flex items-center space-x-4">
                    <a class="text-lg font-bold tracking-tight" href="{% url 'home' %}">
                        Kreimben.com
                    </a>

                    <a class="font-medium" href="{% url 'blog' %}">
                        Blog
                    </a>

                    <a class="font-medium" href="{% url 'projects' %}">
                        Projects
                    </a>

                    <a class="font-medium" href="#">
                        About Me
                    </a>
                </div>

                <div class="flex items-center space-x-4">
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <a class="font-medium" href="{% url 'admin:index' %}">
                                [ {{ user.username }} ]
                            </a>
                        {% else %}
                            <p class="font-medium">
                                [ {{ user.username }} ]
                            </p>
                        {% endif %}

                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <input class="font-medium" type="submit" value="Sign Out"/>
                        </form>
                    {% else %}
                        <a class="font-medium" href="{% url 'login' %}">
                            Login
                        </a>

                        <a class="font-medium" href="#">
                            Sign Up
                        </a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>