<div class="m-12 text-center" id="hellomarkdown"></div>

<script defer>
    const load_content_from_github = () => {
        const raw_md_source = `https://raw.githubusercontent.com/kreimben/kreimben/main/README.md`;

        fetch(raw_md_source)
            .then((res) => res.text())
            .then((text) => {
                const converter = new showdown.Converter();
                const html = converter.makeHtml(text);
                document.getElementById('hellomarkdown').innerHTML = html;
            })
            .catch((error) => console.error(error));
    }

    window.onload = load_content_from_github
</script>