<nav class="flex items-center justify-between flex-wrap bg-orange-500 p-6" id="navi">
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto text-center">

        <div class="text-sm lg:flex-grow my-1">
            <a class="block lg:inline-block lg:text-2xl hover:bg-red-500 mx-12" href="/">
                Home
            </a>
            <a class="block lg:inline-block lg:text-2xl hover:bg-red-500 mx-12" href="/blog">
                Blog
            </a>
            <a class="block lg:inline-block lg:text-2xl hover:bg-red-500 mx-12"
               href="https://paypal.me/kreimben">
                Paypal
            </a>
            <a class="block lg:inline-block lg:text-2xl hover:bg-red-500 mx-12"
               href="https://instagram.com/kreimben">
                Instagram
            </a>
            <a class="block lg:inline-block lg:text-2xl hover:bg-red-500 mx-12"
               href="https://github.com/kreimben">
                Github
            </a>
        </div>

    </div>

    <div class="mx-12">
        <a onclick="dark_mode()">
            <i class="fa-solid fa-moon"></i>
        </a>
    </div>

    <div>
        {% if login == False %}
        <a href="/api/login">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </a>
        {% else %}
        <a href="/api/logout">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
        {% endif %}
    </div>

</nav>