<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "menu.html" %}

<div class="sm:m-2 md:m-4 lg:m-12 xl:m-12 2xl:m-12">
    <div id="toolbar"></div>
    <div id="editor"></div>
    <button class="bg-blue-500 rounded-full px-2 py-1 mx-1 my-2" onclick="on_save()">Save</button>
    <button class="bg-red-500 rounded-full px-2 py-1 mx-1 my-2" onclick="on_cancel()">Cancel</button>
</div>

<script>

    const options = {
        debug: 'info',
        modules: {
            toolbar: [
                [{'font': []}, {'size': []}],
                ['bold', 'italic', 'underline', 'strike'],
                [{'color': []}, {'background': []}],
                [{'script': 'super'}, {'script': 'sub'}],
                [{'header': '1'}, {'header': '2'}, 'blockquote', 'code-block'],
                [{'list': 'ordered'}, {'list': 'bullet'}, {'indent': '-1'}, {'indent': '+1'}],
                ['direction', {'align': []}],
                ['link', 'image', 'video', 'formula'],
                ['code-block'],
                ['clean']
            ],
            syntax: true,
        },
        placeholder: 'Write great posts...!',
        readOnly: false,
        theme: 'snow'
    };
    var quill = new Quill("#editor", options);

    function on_cancel() {
        if (confirm('Get out of writing post?')) {
            window.location.href = '/blog';
        }
    }

    function on_save() {
        // alert(`quill object: ${quill}`)
        const {ops} = quill.getContents();
        console.log(`contents: ${ops}`)

        // TODO: Should implement `title`, `category` and `language` field!
        const body_content = {
            'title': title,
            'content': ops,
            'category': category,
            'language': lanuage
        }

        fetch('/api/post', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(body_content)
        })
            .then((res) => res.json())
            .then((json) => console.log(`response json: ${json}`))
            .then((json) => {
                if (json['success'] === true) {
                    window.location.href = '/blog'

                } else {
                    alert(`Something Wrong!!!`);

                }
            });
    }
</script>

{% include "footer.html" %}
</body>
</html>